
<h3>{{title}}</h3>

<form method="POST" action="/item/">
{{#each items}}

<input type="checkbox" name="itemCheckbox" value="{{itemName}}" id="{{slug}}">
<label>{{quantity}} x {{itemName}}</label>
<input type="hidden" name="slugName" value="{{slug}}">
<input type="hidden" name="isChecked" value="{{checked}}">
</br>

{{/each}}
</br>
<input type="submit" value="Update List">
</form>

</br>

<form method="POST" action="">
<input type="text" name="quantity"> x <input type="text" name="itemName"><input type="hidden" name="slug" value={{slug}}>
<input type="submit">
</form>

</br>

<a href="/">All Lists</a> | <a href="/list/create">Create a New List</a>