
<h3>{{title}}</h3>

<form method="POST" action="/item/">
{{#each items}}

<ul type = "none">

{{#unless checked}}

<li>
<input type="checkbox" name="itemCheckbox" value="{{itemName}}" id="{{slug}}">
{{quantity}} x {{itemName}}
</li>

{{/unless}}

{{#if checked}}
<li><del>{{quantity}} x {{itemName}}</del></li>
{{/if}}

<input type="hidden" name="slug" value="{{slug}}">

</ul>

{{/each}}
</br>
<input type="submit" value="Update List">
</form>

</br>

<form method="POST" action="">
<input type="text" name="quantity"> x <input type="text" name="itemName"><input type="hidden" name="slug" value={{slug}}>
<input type="submit" value="Add to List">
</form>

</br>

<a href="/">All Lists</a> | <a href="/list/create">Create a New List</a>